.about-us {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.about-us .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us .col-md-6 {
    padding: 20px;
}

.about-us img {
    max-width: 100%;
    height: auto;
}



.fondo_blanco p {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 15px;
}

.fondo_blanco p strong {
    font-weight: 600;
    color: #333;
}

.fondo_blanco .d-flex a {
    font-size: 24px;
    margin: 0 15px;
    transition: all 0.3s ease;
}

.bokor-regular {
    font-family: "Bokor", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }


.fondo_blanco .d-flex a:hover {
    transform: scale(1.1);
    color: #28a745;
}

.fondo_blanco .d-flex a:focus {
    outline: none;
}

.fondo_blanco .d-flex a:active {
    transform: scale(1.05);
    color: #0077b5;
}


@keyframes breath {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); 
    }
    100% {
        transform: scale(1);
    }
}

.social-icon {
    animation: breath 2s ease-in-out infinite;
}

.social-icon:hover {
    animation: breath 1s ease-in-out infinite;
}