div.mb-3 nav a{
    float: right;
    background-color: #31572C;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin-bottom: 10px;
}

div.mb-3 nav a:hover{
    background-color: #122A10;
}
