*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    background-color: #ECF39E;
    margin: 0px;
}

main{
    box-sizing: border-box;
    background-color: #ECF39E;   
    padding: 40px;
    padding-top: 0px;
    float: left;
    width: 100%;
}

header{
    text-align: center;
    color: white;
    border-radius: 0px;
    border-style: none;
    background: #31572C;
    padding: 18px;
    float: left;
    width: 100%;
}

.PlanActual{
    float: left;
    width: 100%;
    padding-left: 30%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
    grid-gap: 2rem;
}

.PlanActual .A{
    margin-top: 5px;
}

.PlanActual .B{
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    background: grey;
    color: white;
}

.Plan{
    width: 100%;
    float: left;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.Contenido{
    border-radius: 10px;
    border-style: none;
    background: #90A955;
    padding: 20px;
}

.Contenido .Pagar{
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #ECF39E;
    background: white;
    color: black;
    text-decoration: none;
    width: 50%;
    cursor: pointer;
}

.Contenido .Pagar:hover{
    background: #ECF39E;
}

#Pago{
    display: none;
}

.Ventana{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 169, 85,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#Pago:checked ~ .Ventana{
    display: flex;
}

.Ventana .input{
    float: left;
}

.Ventana input{
    margin: 10px 0;
    width: 100%;
}

.Ventana .botones{
    display: grid;
}

.Ventana div{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ECF39E;
}

.Ventana div button{
    float: right;
    background-color: #122A10;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    width: 100%;
}

.Ventana div button:hover{
    background-color: #0c1b0a;
}

.Ventana p a{
    float: right;
    background-color: #122A10;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    width: 100%;
    padding-left: 41%;
    margin-bottom: 10px;
}

.Ventana .botones p a:hover{
    background-color: #0c1b0a;
}

footer{
    float: left;
    width: 100%;
}

footer img{
    box-sizing: 0;
    background-color: #122A10;
}