*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    background-color: #ECF39E;
}

header{
    text-align: center;
    color: white;
    border-radius: 0px;
    border-style: none;
    background: #31572C;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    width: 100%;
}

.Residuos nav{
    float: left;
    background: #90A955;
    height: 52px;
    width: 100%;
    box-sizing: border-box;
}

.Residuos nav ul{
    float: none;
    list-style: none;
}

.Residuos nav ul li{
    display: inline-block;
    line-height: 50px;
}

.Residuos nav ul li a{
    color: white;
    font-size: 18px;
    padding: 0 70px;
    border-radius: 0;
    border-width: 100%;
    padding-top: 13px;
    padding-bottom: 15px;
    text-decoration: none;
}

.Residuos nav ul li a.A{
    background: #122A10
}

.Residuos li a:hover{
    background: #4F772D;
}

main{
    margin: auto;
    margin-bottom: 5px;
    float: left;
}

.Info h2{
    float: left;
    background: white;
    border-radius: 0 5px 5px 0 ;
    padding: 10px 100px;
    margin-top: 50px;
}

.Info img{
    float: right;
    width: 25%;
    margin-top: 70px;
    margin-right: 100px;
}

.Info p{
    float: left;
    width: 50%;
    margin-top: 50px;
    margin-left: 100px;
    font-size: large;
}

.Consejos{
    float: right;
    background: white;
    border-radius: 0;
    padding: 10px 50px;
    padding-bottom: 23px;
    width: 60%;
    margin-right: 20px;
    margin-top: 40px;
    box-sizing: border-box;
}

.Consejos h2{
    float: left;
    margin-top: 20px;
}

.Consejos div.A{
    width: 97%;
    margin-top: 80px;
}

.Consejos h4{
    margin-top: 20px;
}

.Consejos div.B{
    width: 97%;
    margin-top: 20px;
    margin-left: 80px;
}
.Consejos p{
    margin-top: 20px;
    text-align: justify;
    margin-left: 30px;
}

.Imagenes img{
    float: left;
    width: 34%;
    margin-top: 40px;
    margin-bottom: 24.3px;
    margin-left: 25px;
}

footer{
    float: left;
    width: 100%;
}